html {
  font-size: 10px;
  scroll-behavior: smooth;
}


h3 {
  font: 400 3.5rem/4.5rem Georgia;
  letter-spacing: 1.9px;
  color: #545454;
  margin: 0;
}

h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.main-container{
  width: 100vw;
  height: 100vh;
}

.wrapper {
  margin: auto;
  max-width: 1280px;
  box-sizing: border-box;
  width: 100%;
  padding: 0 40px;
}

.header__navigation {
  width: 443px;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
}

.header_logo {
  margin: 0;
  font-size: 3.2rem;
  color: #f1cdb3;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1.8px;
  line-height: 3.5rem;
  cursor: pointer;
  transform: scale(1);
  transition: 0.35s ease-in-out;
}
.header_logo:hover {
  transform: scale(1.2);
}


.header_logo-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}